/* FONTS */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Oswald-VariableFont:wght.ttf') format('truetype');
}

* { font-family: 'Oswald', sans-serif; }

.login-logo {
	margin: 2rem auto;
	display: block;
}

.button-blue {
	text-transform: uppercase;
	background-color: #007eb1;
	color: #fff;
	font-weight: bold;
	border: none;
	padding: .8rem 2.5rem;
	border-radius: 25px;
}

.button-blue:hover {
	background-color: #006690
}

.button-white {
	text-transform: uppercase;
	background-color: #fff;
	color: #007eb1;
	font-weight: bold;
	border: none;
	padding: .8rem 2.5rem;
	border: 1px solid #007eb1;
	border-radius: 25px;
}

.button-white:hover {
	border-color: #006690;
	color: #006690;
}

.btn-full {
	width: 100%;
	margin: .5rem auto;
}

a {
	color: #007eb1;
}

a.forgot {
	text-decoration: underline;
}

p, label {
	color: #ababad;
	font-size: 1.2rem;
}

p {
	margin: 30px 0;
}

label {
	font-weight: bold;
}

.container input {
	border: 1px solid #cecece;
	color: #ababad;
	border-radius: 9px;
	height: 3rem;
}

.container input::placeholder {
	color: #ababad;
}

span#user-passwd {
    color: #f45933;
    border: 1px solid #f45933;
    padding: 0.1rem 1.5rem;
    border-radius: 14px;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
}