/**
 * Attractions Template
 */
.row-title {
	margin-bottom: 5rem;
}

.row-subtitle {
	margin-top: 5rem;
}

.row-content {
	margin-top: 2rem;
}

.row-content img {
	width: 100%;
}

.row-content strong {
	color: #007eb1;
}

.img-atividade {
    outline: 7px solid #f3522b;
    outline-offset: -4px;
}