

@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBook.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonMediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonSemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonSemiBold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/CamptonBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}