
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #ff6900;
$gray: #a89f98;
$dark_gray: #5a5b5f;
$gold: #e49e5a;
$beige: #eae8e6;


// Responsive:
$mobile: "screen and (max-width: 1024px)";
$tablet-vertical: "screen and (min-width: 768px)";

$desktop: "screen and (min-width: 1024px)";
$desktop-hd: "screen and (min-width: 1440px)";
